a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,caption,center,cite,code,dd,del,details,dfn,div,dl,dt,em,embed,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,output,p,pre,q,ruby,s,samp,section,small,span,strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,video{margin:0;padding:0;border:0;font:inherit;vertical-align:baseline}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:after,blockquote:before,q:after,q:before{content:'';content:none}table{border-collapse:collapse;border-spacing:0}

body
{
	background-color: #edeef0;
	font-weight: 400;
	font-size: 13px;
}
#header
{
	position: fixed;
	background-color: #4a76a8;
    z-index: 100;
	height: 42px;
	top: 0;
    box-sizing: border-box;
    border-bottom: 1px solid #4872a3;
    width: 100%;
    font-size: 12.5px;
}

header > div
{
	width: 960px;
	margin: auto;
}
header > div > div
{
	display: inline-block;
	vertical-align: top;
}

header > div > div:first-child a
{
	display: inline-block;
	width: 165px;
	height: 42px;
}

header > div > div:nth-child(2) > div
{
	display: inline-block;
}
.header_hover:hover
{
	background-color: #3d6898;
}
#top_search input
{
	border: 0;
	box-sizing: border-box;
	padding: 6px 6px 6px 19px;
	margin: 7px 0;
	height: 28px;
	line-height: 16px;
	width: 230px;
	border-radius: 14px;
	-o-transition: background-color 0.05s, color 0.05s;
	transition: background-color 0.05s, color 0.05s;
	background: #224b7a url(./img/sprites/head_loupe.svg) no-repeat;
	padding-left: 19px;
	border-left: 8px solid transparent;
	background-position: left 8px;
	color: #d9e2ec;
}
header .avatar
{
	display: inline-block;
	vertical-align: top;
	width: 28px;
	height: 28px;
	margin: 7px 0;
}
header .avatar img
{
	border-radius: 14px;
}

#top_search input:focus
{
    background-color: #fff;
    color: #000;
    outline-width: 0;
    outline: none;
}

#top_profile > span
{
	display: inline-block;
	padding-right: 10px;
    vertical-align: top
	white-space: nowrap;
	line-height: 40px;
	height: 40px;
	overflow: hidden;
	padding: 0 10px;
	color: #fff;
	font-weight: 700;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
#top_notify
{
	display: inline-block;
	padding: 10px 13px;
}
#top_notify span:first-child
{
	position: relative;
	display: inline-block;
	background: url('./img/sprites/head_notify.svg') no-repeat 0 1px;
	height: 20px;
	width: 20px;

}
.steper_container > div
{
	text-align: center;
}
.steper_container h3
{
	margin-bottom: 20px;
}
#edit label
{
	color: #656565;
	font-size: 13px;
	width: 170px;
	padding: 6px 10px 0 0;
	line-height: 16px;
	float: left;
	text-align: right;
}
#edit input,
#edit textarea
{
	float: left;
    height: 30px;
    width: 300px;padding: 5px 9px 7px;
    box-sizing: border-box;
}
#edit textarea
{
	min-height: 150px;
	border-color: rgb(204, 204, 204);
}
#edit form > div
{
	padding-bottom: 15px;
}
#edit form > div:last-child
{
	padding-bottom: 0;
}
#edit .edit_pics
{
	margin-top: 20px;
	text-align: center;
}
#edit .edit_pics li
{
	position: relative;
	display: inline-block;
	padding-right: 10px;
	width: 60px;
	height: 70px;
}
#edit .edit_pics li img
{
	max-height: 70px;
	max-width: 60px;
}
#edit .edit_pics li input[type=file]
{
	font-size: 100px;
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	opacity: 0;
	cursor: pointer;
}

#edit .edit_pics li:last-child
{
	padding-right: 0;
}

#edit .edit_pics li > span
{
	position: absolute;
	top: -10px;
	right: calc(50% - 5px);
	width: 20px;
	height: 18px;
	text-align: center;
	border-radius: 100%;
	background-color: #e1e7ed;
	z-index: 10;
}
#edit .edit_pics li > span:hover
{
	background-color: #e1e7ed69;
	cursor: pointer;
}

#edit .submit_container
{
	display: inline-block;
	padding-left: 32px;
	padding-right: 32px;
	padding: 0 0 0 180px;
}
#edit .submit_container button
{
	background: #5181b8;
	color: white;
	padding-left: 32px;
	padding-right: 32px;
}
.tab_content.no_padding
{
	padding: 0;
}
a{
	text-decoration: none;
    cursor: pointer;
    font-family: '-apple-system,BlinkMacSystemFont,Roboto,Open Sans,Helvetica Neue,sans-serif';
}

#page_layout
{
	display: flex;
	width: 960px;
	justify-content: space-between;
	margin: auto;
	padding-top: 42px;
}

#main
{
	width: 794px;
}

#aside
{
	width: 149px;
	margin: 15px 0 0;
}

img
{
	width: 100%;
}


/* OTHERS */

.app-logo
{
	position: relative;
	left: -3px;
	width: auto;
	height: 40px;
}
.left
{
	float: left;
}

.right
{
	float: right;
}

.recommendation_header button
{
	padding: 7px 16px 8px;
    margin: 0;
    font-size: 12.5px;
    display: inline-block;
    zoom: 1;
    cursor: pointer;
    white-space: nowrap;
    outline: none;
    font-family: -apple-system,BlinkMacSystemFont,Roboto,Open Sans,Helvetica Neue,sans-serif;
    vertical-align: top;
    line-height: 15px;
    text-align: center;
    text-decoration: none;
    background: none;
    background-color: #5181b8;
    color: #fff;
    border: 0;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 10px;
}
.white_tab_container
{
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
}
.middle_row
{
	position: relative;
    width: 550px;
    height: fit-content;
    margin: 15px 0 0;
	box-sizing: border-box;
}
.white_tab
{
    position: relative;
    width: 550px;
    height: fit-content;
    border-radius: 2px;
    box-shadow: 0 1px 0 0 #d7d8db, 0 0 0 1px #e3e4e8;
    margin: 15px 0 0;
	background-color: #fff;
	box-sizing: border-box;
}
.tab_content:first-child
{
	margin-top: 0;
}
.tab_content
{
	padding: 20px;
	margin-top: 15px;
	background-color: white;
}
.tab_content header,
.tab_content footer
{
	border-radius: 2px 2px 0 0;
	font-size: 16px;
	outline: none;
	color: #000;
}

.tab_content header
{
	border-bottom: 1px solid #e7e8ec;
	padding: 0 20px 20px 0;
}
.tab_content footer
{
	border-top: 1px solid #e7e8ec;
	padding: 20px 20px 0;
}
.litle_row
{
	width: 230px;
}
.litle_row .white_tab
{
	width: 100%;
}

.recommendation_ul > li
{
	padding: 15px 0;
	clear: both;
	position: relative;
}
.recommendation_ul li:first-child .recommendation_header
{
	padding: 0;
}
.recommendation_header
{
	padding: 8px 10px 0 0;
    overflow: hidden;
}
.recommendation_header h3
{
	margin-bottom: 3px;
}
.recommendation_header h4
{
	margin-bottom: 4px;
	font-size: 13px;
	color: #656565;
}
.feed_user_pics
{
	padding: 15px 0 0;
	height: 123px;
	text-align: center;
	clear: both;
}
.feed_user_pics ul li:first-child
{
	margin-left: 0;
}

.feed_user_pics ul li
{
	margin-left: 6px;

}

.recommendation_header > div
{
	width: 293px;
	display: inline-block;
	vertical-align: top;
	padding: 8px 10px 0 0;
}
.recommendation_header > a
{
	display: inline-block;
}

.aside_nav a
{
    display: block;
    border: 0;
    white-space: nowrap;
}

.aside_sprite a span
{
	display: inline-block;
    height: 25px;
    line-height: 27px;
	color: #285473;
    vertical-align: top;
    font-size: 12.5px;
}

.aside_sprite a span:first-child
{
	width: 35px;
    opacity: 0.75;
	background-image: url('./img/sprites/menu_icon.png');
	background-repeat: no-repeat;
}

.both:after
{
	content: '';
	clear: both;
}
.relative
{
	position: relative;
}
.flat_button
{
	background-color: #e5ebf1;
    color: #55677d;
    width: 100%;
    padding: 7px 16px 8px;
    margin: 10px 0 0;
    font-size: 12.5px;
    display: inline-block;
    zoom: 1;
    cursor: pointer;
    white-space: nowrap;
    outline: none;
    font-family: -apple-system,BlinkMacSystemFont,Roboto,Open Sans,Helvetica Neue,sans-serif;
    vertical-align: top;
    line-height: 15px;
    text-align: center;
    text-decoration: none;
    border: 0;
    border-radius: 4px;
    box-sizing: border-box
}
.bg_blue
{
	background-color: #5181b8;
	color: white;
}
.gray_color
{
	color: #939393;
}
.with_padding
{
	padding: 15px;
}
.clear_fix:after
{
	content: '.';
	display: block;
	height: 0;
	font-size: 0;
	line-height: 0;
	clear: both;
	visibility: hidden;
}
.pic_list
{
	padding-top: 13px;
}
.pic_list li:last-child
{
	padding-right: 0;
}
.pic_list li
{
	padding-right: 5px;
}
.other_info_basic li span:first-child
{
	display: inline-block;
	width: 165px;
	color: #828282;
}
/*	sprites	*/
.home
{
	background-position: 7px 6px;
}

.notifications
{
	background-position: 7px -21px;
}

.friends
{
	background-position: 7px -105px;
}

.add_icon
{
    padding-left: 20px;
	background: url('./img/sprites/follow_icon.png') no-repeat 0 3px;
}
